.App {
   text-align: center;
    }
 
body{ 
  background-image: url('./components/Image/fondo.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
/*tengo que ponero asi para que ocupue todo e fonodo*/

 .containerCard {
   display: inline-flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 20px;
   row-gap: 20px;
   color: beige;
   margin-top: 50px;
 }
 
 .cartas {
   border-radius: 20px;
   border: solid rgb(14, 2, 54);
   background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
   background-repeat: no-repeat;
   background-size: cover;
   display: inline-block;
   margin-right: 20px;
   font-size: 12px;
   flex: 0 0 200px 100px;
 }
 .LinkDetails{
  text-decoration: none;
 }
 
.NombreCarta{
color: white;
background-color: black;
border:solid rgb(224, 245, 37) 1px;
}

.datos{
  font-size: 10px;
  padding: 10px; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 1em;
  justify-items: center;
}
  

.datos h2 {
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: bold;
  margin: 4px; /* Margen */
  border: 2px solid rgb(224, 245, 37); /* Borde */
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  max-width: 100%;
  max-height: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
}

.onClick{
  background-color: rgb(193, 8, 8);
  border-radius: 50%;
  color: white;
}

 .imagen {
   max-width: 90%;
   height: auto;
   border-radius: 10px;
   border: solid black;
 }

 .about {
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
      max-width: 600px;
      margin: 50px auto 0;
      padding: 20px;
      text-align: center;
    }
    
    .nav-btn {
      background-color: #770371; /* Color de fondo */
      border: solid blue 1px; /* Borde */
      color: white; /* Color de texto */
      padding: 6px 32px; /* Espacio interno */
      text-align: center; /* Alineación del texto */
      text-decoration: none; /* Decoración de texto */
      display: inline-block; /* Mostrar como bloque */
      font-size: 10px; /* Tamaño de fuente */
      margin: 8px 12px; /* Margen */
      cursor: pointer; /* Tipo de cursor */
      border-radius: 4px; /* Bordes redondeados */
      cursor: pointer; /* Tipo de cursor */
      transition-duration: 0.8s; /* Duración de la transición */
    }
    
    .nav-btn:hover {
      background-color: #3e8e41; /* Color de fondo en hover */
    }
    
    .nav-link {
      color: white; /* Color de texto */
      text-decoration: none; /* Decoración de texto */
    }
    
    .nav-link:hover {
      color: #4CAF50; /* Color de texto en hover */
    }
     
    .DetailDate{
    color: rgb(6, 0, 0);
    border-radius: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    border:rgb(6, 0, 0) solid 3px; 
  }
    .name{
      color: white;
    }
    .imgDetail{
      border-radius: 50%;
      margin-top: 5%;
      border:rgb(6, 0, 0) solid 5px;
    }
 .error{
  background-color: red;
  color: white;
  font-size: 30px;
 }